<ion-header>
  <ion-navbar>
    <ion-title>
      Favoritos
    </ion-title>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-item-group>

      <ion-item-divider light>Mini Cursos</ion-item-divider>
      <ion-item>
        <button clear item-left><ion-icon name="star"></ion-icon></button>
          Introdução a PHP
        <button clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>
      <ion-item>
        <button clear item-left><ion-icon name="star"></ion-icon></button>
          Introdução a HTML
        <button clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>
      <ion-item>
        <button clear item-left><ion-icon name="star"></ion-icon></button>
          Introdução a CSS
        <button clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>

      <ion-item-divider light>Palestras</ion-item-divider>
      <ion-item>
        <button clear item-left><ion-icon name="star"></ion-icon></button>
          Introdução a PHP
        <button clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>
      <ion-item>
        <button clear item-left><ion-icon name="star"></ion-icon></button>
          Introdução a HTML
        <button clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>
      <ion-item>
        <button clear item-left><ion-icon name="star"></ion-icon></button>
          Introdução a CSS
        <button clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>

    </ion-item-group>
</ion-content>
