<ion-header>

  <ion-navbar>
    <ion-title>Palestras</ion-title>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item-group>

      <ion-item-divider light>1º dia</ion-item-divider>
      <ion-item (click)="openModal(person)" *ngFor="let person of people">
        <button clear item-left><ion-icon name="star"></ion-icon></button>
          {{person.nome}}
        <button clear item-right><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>

    </ion-item-group>
</ion-content>
