<ion-menu [content]="content">

<ion-toolbar>
    <ion-title>Menu</ion-title>
    <ion-buttons end>
      <button menuClose>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
    </button>
    </ion-list>
</ion-content>
</ion-menu>


 <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
