.home{

}
.myButton {
  font-size: 12pt;
  height: 29.2vh;
  width: 100%;
}

.myButton ion-icon{
  font-size: 30pt;
  text-indent: 13px;
}

.text-on-bottom > .button-inner {
  flex-direction: column;
}

.teste{
  margin-left: -2px;
}

ion-col{
  padding: inherit;
  //background: gray;
  margin: -7px -4px 3px 8px;
}

.sobreBtn {
  background: #1cbb9b !important;
  margin-bottom: -5px;
}
.parceriasBtn{
  background: #f8db65 !important;
  margin-bottom: -5px;
}
.partidasBtn{
  background: #475677 !important;
}
.palestrasBtn{
  background: #d6705a !important;
}
.minicursosBtn{
  background: #55add3 !important;
}
