<ion-header>
  <ion-toolbar>
    <ion-buttons end>
      <button large full>
        <img alt="logo" height="33" src="img/univem_logo.gif">
      </button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>

    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-toolbar>
</ion-header>

<ion-content class="home">

    <ion-grid>

      <ion-row>
        <ion-col width-50 class="teste">
          <button favorite full large class="myButton text-on-bottom" (click)="pushPage(geral)">
            <ion-icon name="calendar"></ion-icon><br />
              Geral
          </button>
        </ion-col>

        <ion-col width-50>
          <button large full class="myButton text-on-bottom minicursosBtn" (click)="pushPage(miniCursos)">
            <ion-icon name="code"></ion-icon><br />
              Mini Cursos
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col width-50 class="teste">
          <button large full class="myButton text-on-bottom partidasBtn" (click)="pushPage(partidas)">
            <ion-icon name="game-controller-b"></ion-icon><br />
            Partidas
          </button>
        </ion-col>

        <ion-col width-50>
          <button large full class="myButton text-on-bottom palestrasBtn" (click)="pushPage(palestras)">
            <ion-icon name="school"></ion-icon><br />
              Palestras
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col width-50 class="teste">
          <button large full class="myButton text-on-bottom sobreBtn" (click)="pushPage(sobre)">
            <ion-icon name="information-circle"></ion-icon><br />
              Sobre
          </button>
        </ion-col>

        <ion-col width-50>
          <button large full class="myButton text-on-bottom parceriasBtn" (click)="pushPage(parcerias)">
            <ion-icon name="thumbs-up"></ion-icon><br />
              Parcerias
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>
