.modal-palestra {

}
.iconModal{
  font-size: 18pt;
  vertical-align: sub;
  text-indent: 5px;
}
.iconModal ion-icon{
  font-size: 30px;
  color:black;
  vertical-align: bottom;
  text-indent: -10px;
}
