<ion-header>
  <ion-navbar>
    <ion-title>Palestra</ion-title>

    <ion-buttons end>
      <button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
      <ion-col width-10 class="iconModal">
        <ion-icon name="school"></ion-icon>
      </ion-col>
      <ion-col width-90 class="iconModal">
        Desenvolvimento Web
      </ion-col>
    </ion-row>
      <ion-col align="left">
      <p>
        <b>Data: </b>
            {{people.created_at | date: 'HH:mm:ss'}}
      </p>
      <p>
        <b>Horário: </b>
            {{people.updated_at | date: 'HH:mm:ss' }}
      </p>
      <p>
        <b>Local: </b>
            {{people.usuario}}
      </p>
      <p>
        <b>Palestrante: </b>
            {{people.nome}} {{people.sobrenome}}
      </p>
    </ion-col>

    <ion-row>
      <ion-col width-10 class="iconModal">
        <ion-icon name="person"></ion-icon>
      </ion-col>
      <ion-col width-90 class="iconModal">
        Dados do Palestrante
      </ion-col>
    </ion-row>
</ion-content>
