.geral {

}

.assassinosCleber{
 position:absolute;
 bottom: 55px;
 left: 0%;
 right: 0%;
 text-align: center;
}

.assassinosCleber1{
  position: absolute;;
 bottom: 100px;
 left: 40%;
 right: 0%;
 text-align: center;
}
