  <ion-header>
  <ion-navbar>
    <ion-title>
      Geral
    </ion-title>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide>
      <ion-card>
        <img src="img/emblem_logo_pretoverde.png"/>
        <ion-card-content text-wrap>
          <p align="left">
            <b>Data: </b>
            11/09
          </p>
          <p align="left">
            <b>Horário: </b>
            19h25
          </p>
          <p align="left">
            <b>Local: </b>
            Auditório da Univem
          </p>
          <p align="left">
            <b>Palestrante: </b>
            Marcelo Sassá
          </p>

        </ion-card-content>
        <ion-row class="assassinosCleber1">
          <button secondary small>
            Ver mais
          </button>
        </ion-row>
            <ion-row class="assassinosCleber">
              <ion-col width-50>
                 <button item-left clear small >
                   <ion-icon name='star'></ion-icon>
                   Favoritar
                 </button>
               </ion-col>
               <ion-col width-50>
                 <button item-right danger clear small>
                   <ion-icon name='heart'></ion-icon>
                   Show
                 </button>
             </ion-col>
            </ion-row>
      </ion-card>

    </ion-slide>
  </ion-slides>

</ion-content>
