<ion-header>
  <ion-navbar>
    <ion-title>
      Partidas
    </ion-title>

    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header><ion-icon name="laptop" item-left></ion-icon>
    League of Legends
    </ion-list-header>
    <ion-list-header>
    Quartas de Final - 11/09
    </ion-list-header>
    <ion-item *ngFor="let person of people">
      <span item-left>{{person.updated_at | date: 'HH:mm' }}</span>
      <span item-right>{{person.usuario}}  X  {{  person.nome}}</span>
    </ion-item>
  </ion-list>
</ion-content>
